body {
    font-family: system-ui;
    background: linear-gradient(to bottom, darkorchid, #6b238f);
    color: white;
    display: grid;
    place-items: center;
  }

.identificadorUnico {
    font-family: system-ui;
    background: linear-gradient(to bottom, darkorchid, #6b238f);
    color: rgb(255, 255, 0);
    place-items: center;
    padding: 40px;
    margin: 10px;
  }


  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
    background-color: rgb(127, 136, 143);
  }
  
  
  @media (max-width: 400px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }